<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.misuse" >

    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".SQLiteActivity"
                android:label="@string/app_name" >
        </activity>
        <activity
                android:name=".SharedPreferencesActivity"
                android:label="@string/app_name" >
        </activity>
        <activity
                android:name=".ContentProviderActivity"
                android:label="@string/app_name" >
        </activity>
        <activity
                android:name=".StorageActivity"
                android:label="@string/app_name" >
        </activity>
        <activity
                android:name=".HttpClientActivity"
                android:label="@string/app_name" >
        </activity>
        <activity
                android:name=".FragmentActivity"
                android:label="@string/app_name" >
        </activity>
        <provider android:name="NotePadProvider"
                  android:authorities="com.example.misuse.NotePad" />
    </application>

</manifest>
